<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S_net_Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <S_net_Viewer.Properties.Settings>
            <setting name="MainSize" serializeAs="String">
                <value>200, 400</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://www.msil.go.jp/arcgis/rest/services/Msil/DisasterPrevImg1/ImageServer//exportImage?f=image&amp;renderingRule={%22rasterFunction%22:%22DisasterPrevImg1%22}&amp;time={Time},{Time}&amp;bbox=15900000,3900000,15900000,5500000&amp;imageSR=102100&amp;bboxSR=102100&amp;size={Size}</value>
            </setting>
            <setting name="MaxSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>45, 45, 90</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ViewTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GetDelay" serializeAs="String">
                <value>30</value>
            </setting>
        </S_net_Viewer.Properties.Settings>
    </userSettings>
</configuration>